	/* 
		---------------------------------------------
		Various rules to aid with element selection
		---------------------------------------------
	*/

	/* Highlight selected option in like button menu */

	.like_button_custom {
		opacity: 0.5;
	}

	.like_button_custom:hover {
		opacity: 1;
	}

	/* Highlight selected image in imagemap feature */

	#map_div img:hover {
		opacity: 0.7;
	}
	
	/* General rule for anchor tags */
	
	/*  TODO: find way to implement this without affecting images
	
	a:hover {
		opacity: 0.8;
	} 
	
	*/

	/* 
		----------------------------------------
		Userpic style
		----------------------------------------
	*/

	.userpic_addon {
		display: block; 
		border: 1px outset; 
		margin-left: 1em; 
		cursor: pointer; 
		float: right;
	}

	/* 
		----------------------------------------
		Unhandled exception dialog style
		----------------------------------------
	*/
	
	#error_dialog {
		border: 1px solid rgba(0, 0, 0, 0.3);					
		border-radius: 6px;		
		boxShadow: 0 3px 7px rgba(0, 0, 0, 0.3);
		background: white no-repeat center bottom;
		background-repeat: no-repeat;
		background-position: center bottom;
	}

	/* 
		-------------------------------------------
		Hide ignorated posts
		-------------------------------------------
	*/
				
	*[ignored] {
		display: none;
	}
	
	/* 
		----------------------------------------
		Misc.
		----------------------------------------
	*/

	/* Make imagemap loading image spin */

	.loading {
		-webkit-animation:spin 2s linear infinite;
	}
	
	@-webkit-keyframes spin { 100% {
			-webkit-transform:rotate(360deg);
		}
	}
