/**
 *  CSS for lovelinks style. Uses !important a lot because we want these rules to take precedence over the ETI rules
 */

a:link {
	color: #661733 !important;
}

a:visited {
	color: #330433 !important;
}

a:hover {
	color: #BA239C !important;
}

div {
	border-radius: 6px;
}

body {
	background-image: url("https://i4.endoftheinter.net/i/n/378c1d4b824ecaf13e99f1bbdbac35fd/heart_tiles.png") !important;
}

body.snow, body.hup_hup {
	background-color: #ccccff !important;
}

.hup_hup .menubar {
	background-color: none !important;
}

.quoted-message {
	 background-color: #EDCAE6 !important; 
	 color: #0D030B !important; 
	 border-left: 0px !important;
}

.quoted-message div:not(.message-top):not(.imgs) {
	background-color: #D4ABCC !important; 
	color: #0D030B !important; 
	border-left: 0px !important;
}

.quoted-message div:not(.message-top):not(.imgs) div:not(.message-top):not(.imgs) {
	background-color: #B593AE !important; 
	color: #0D030B !important; 
	border-left: 0px !important;
}

.message-top {
	background-color: #EDB4E2 !important; color: #0D030B !important;
}

.quickpost-body {
	ackground-color: #EDB4E2 !important; color: #0D030B !important;
}

.quickpost-canvas {
	background-color: #EDB4E2 !important; color: #0D030B !important;
}

.quickpost-canvas a {
	color: purple !important;
}

.quickpost-nub { background-color: white !important; }

.userbar {
	background: linear-gradient(to bottom, rgba(255,179,218,1) 0%,rgba(255,129,194,1) 55%) !important; 
	color: #0D030B !important;
}

.infobar {
	background: linear-gradient(to bottom, rgba(255,217,237,1) 0%,rgba(255,191,224,1) 55%) !important; 
	color: #0D030B !important;
}

.block_desc {
	background-color: #BFA6BA !important; 
	color: #0D030B !important; 
	border-left: 0px !important;
}

.block_desc a {
	color: black !important;
}

th {
	border-radius: 6px; 
	background: linear-gradient(to bottom, rgba(255,217,237,1) 0%,rgba(255,191,224,1) 55%) !important; 
	color: #0D030B !important;
}

tr {
	border-radius: 6px; 
	background: linear-gradient(to bottom, rgba(255,233,244,1) 0%,rgba(255,219,238,1) 55%) !important; 
	color: #0D030B !important;
}

td {
	border-radius: 6px; 
	background: linear-gradient(to bottom, rgba(255,233,244,1) 0%,rgba(255,219,238,1) 55%) !important; 
	color: #0D030B !important;
}

small {
	color: black !important;
}

[highlighted]:not(a) {
	background: linear-gradient(to bottom, rgba(255,165,212,1) 13%,rgba(254,108,183,1) 55%,rgba(255,165,212,1) 87%,rgba(255,165,212,1) 100%) !important;
}

.menubar {
	border: 0 !important;
}

.menubar a:link, #bookmarks a:link { 
	color: #6E155D !important; 
}

.menubar a:visited, #bookmarks a:visited { 
	color: #1C0618 !important; 
}

.menubar a:hover, #bookmarks a:hover { 
	color: #BA239C !important; 
}

.menubar span, #bookmarks span, span.menubar {
	background-color: white !important; 
}

.snow .menubar, .snow #bookmarks span, .snow span.menubar, .hup_hup .menubar a, .hup_hup #bookmarks span, .hup_hup span.menubar, .hup_hup h2 a {
	background-color: #ccccff !important;
}

h1 { 
	color: #1C0618 !important; 
}

h2 { 
	color: #1C0618 !important; 
}

h2 a:link { 
	color: #6E155D !important; 
}

h2 a:visited { 
	color: #1C0618 !important; 
}

h2 a:hover { 
	color: #BA239C !important; 
}

span { 
	color: #1C0618 !important; 
}

.tag-div { 
	background-color: white !important; 
}

.tag-div a { 
	color: purple !important; 
}

form { 
	color: black !important; 
}

#cozpop { 
	content: url(http://i2.endoftheinter.net/i/n/d8c28f3337f428fc7b119617ba8ce2fc/my%20fox.jpg); 
}

img[style*="position: absolute; right: 10px; margin-top: -45px;"] { 
	content: url(http://i4.endoftheinter.net/i/n/7757cbfaa8e20594a92bd86fcefa7896/heart__free_avatar_by_thedeathofsen-d3lb5q8.gif); 
}
#hold_menu { 
	background-color: white !important; 
	color: purple !important; 
}

#nextpage { 
	background-color: #D1A3F0 !important; 
	color: #4B2A82 !important; 
}

.control span { 
	background: linear-gradient(to bottom, rgba(255,233,244,1) 0%,rgba(255,219,238,1) 55%) !important; 
	color: #0D030B !important; 
}

.loading-placeholder {
	background: none !important;
}